@charset "utf-8";
/* CSS Document */

h2
{
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";	
}

input[type='range']
{
  width: 90px;
  height: 20px;
}

input[type='text']
{
  width: 100px;
  height: 20px;
}

input[type='button']
{
  width: 100px;
  height: 20px;
}

#cmb
{
  width: 100px;
  height: 20px;
  margin-bottom: 5px;
}

.y
{
  margin: 10px 0 0 0;
  transform-origin: 40px 40px;
  transform: rotate(-90deg);
  margin-left: 50px;
}

.main
{
	display: flex;
	flex-flow: row nowrap;
}

.subPadre
{
	display: flex;
	flex-flow: column nowrap;
}

.subPadre1
{
	display: flex;
	flex-flow: row nowrap;
}

.subPadre1 h4
{
	margin: 5px 5px 0px 0px;
}

.control
{
	flex: 1 1 14.3%;
	padding: 5px;
	text-align: center;
	background-color: #f2f2f2;
	margin-right: 10px !important;
	border: 1px solid #000;
}

.control:hover
{
	box-shadow:  5px 5px;	
	transition: box-shadow 0.2s linear;
}

.control div
{
	margin:  0 auto;
	padding-left: 50px;
}

.vertical 
{
	display: flex;
	flex-flow: column nowrap; 	
	margin-right: 10px;
	text-align: center;
	background-color: #f2f2f2;
	width: 14.3%;
	border: 1px solid #000;
}

.vertical:hover
{
	box-shadow:  5px 5px;	
	transition: box-shadow 0.2s linear;
}

.vertical .ver
{
	flex: 1 1 auto;
	text-align: center;
	margin-top: 5px;
}

.panel
{
	background-color: red;
	width: 200px;
	height: 200px;
	margin-top: 20px;
}

#texto
{
	color: #000;
	font-size: 15px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: justify;
}